{% include 'partial/header.html' %}
{% load template_util %}
<div class="content-wrapper">
    <div class="row">
        <!-- Start .row -->
        <!-- Start .page-header -->
        <div class="col-lg-12 heading">
            <h1 class="page-header"><i class="ec-list"></i> Extract</h1>
        </div>
        <!-- End .page-header -->
    </div>
    <!-- End .row -->
    <div class="outlet">
        <!-- Start .outlet -->
        <!-- Page start here ( usual with .row ) -->
        <div class="row">
            <div class="col-lg-12">
                <!-- col-lg-12 start here -->
                <div class="panel panel-primary plain panelRefresh">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Extract List</h4>
                    </div>
                    <div class="panel-body">
                        {% if ext_list %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="per5">ID</th>
                                <th class="per60">Title | URL</th>
                                <th class="per15">Decision</th>
                                <th class="per20">Operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for id, item in ext_list.iteritems %}
                            <tr class="item"
                                data-id="{{ id }}"
                                data-extractor="{{item.extractor}}"
                                data-filename="{{ item.filename }}"
                                data-title="{{ item.title }}"
                                data-url="{{ item.url }}"
                                data-decision="{{ item.decision}}">

                                <td>{{ id }}</td>
                                <td>
                                    <p>{{ item.title }}</p>

                                    <p><a class="btn btn-primary btn-alt mr15 mb15 btn-url" data-toggle="modal"
                                          data-target="#viewModal"
                                          title="{{ item.url }}">{{ item.url | short_url }}</a></p>
                                </td>
                                <td>
                                    <span class="label label{{ item.decision | css_type_for_decision  }} mr10 mb10">
                                    {% if item.decision == 1 %}
                                        Single
                                    {% elif item.decision == 2 %}
                                        Multiple
                                    {% endif %}
                                    </span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button"
                                                data-decision="{{ 'N' | decision_value  }}"
                                                class="btn btn-dark ajax-btn-judge">N
                                        </button>
                                        <button type="button"
                                                data-decision="{{ 'S' | decision_value  }}"
                                                class="btn btn-pink ajax-btn-judge">S
                                        </button>
                                        <button type="button"
                                                data-decision="{{ 'M' | decision_value  }}"
                                                class="btn btn-yellow ajax-btn-judge">M
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No item need to judge manually</p>
                        {% endif %}
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-12 end here -->
        </div>
        <!-- End .row -->

        <!-- Modal -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg model-xxl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myLargeModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-6">
                            <div class="tabs">
                                <ul id="display-tab" class="nav nav-tabs tabdrop">
                                    <li class="active">
                                        <a href="#display-tab-page" data-toggle="tab" aria-expanded="true">Page</a>
                                    </li>
                                    <li class="">
                                        <a href="#display-tab-source" data-toggle="tab" aria-expanded="true">Source</a>
                                    </li>
                                </ul>

                                <div id="display-tabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="display-tab-page" style="height: 820px;">
                                        <iframe id="showiframe" class="col-xs-12" height="800px"></iframe>
                                    </div>
                                    <div class="tab-pane fade" id="display-tab-source" style="height: 820px;">
                                        <textarea id="sourceframe" style="height: 100%;width: 100%">

                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="control" class="col-md-6">

                            <div id="select-rules">

                            </div>
                            <div id="preview">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <span>
                                Re-Judge
                            </span>
                            <button id="model-btn-N" data-decision="{{ 'N' | decision_value  }}" type="button"
                                    class="btn btn-dark ajax-btn-judge">No
                            </button>
                            <button id="model-btn-S" data-decision="{{ 'S' | decision_value  }}" type="button"
                                    class="btn btn-pink ajax-btn-judge">Single
                            </button>
                            <button id="model-btn-M" data-decision="{{ 'M' | decision_value  }}" type="button"
                                    class="btn btn-yellow ajax-btn-judge">Multiple
                            </button>
                        </div>

                        <button id="btn-extract" type="button"
                                class="btn btn-success">Extract
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- Page End here -->
    </div>
    <!-- End .outlet -->
</div>
<script>
    //when click btn-extract
    $("#btn-extract").click(function(){
        var id = $(".item.active").data('id');
        $(this).prop('disabled',true);
        var button = $(this);
        $.post("{% url 'ajaxExtractor' %}",
                {
                    method: "extract",
                    id: id,
                    selected:getruleidset(),
                    csrfmiddlewaretoken: $('meta[name=csrf_token]').attr('content')
                },
                function (data, status) {
                    if(data=="0"){
                        //success
                        $('.item.active').remove()
                        $('#viewModal').modal('hide')
                    }else{
                        alert("ERROR:"+data);
                        console.log("ERROR:"+data)
                    }
                    button.prop('disabled',false);

                });
    });

    //when click judge btn
    $(".ajax-btn-judge").click(function () {
        if($(this).parents('.item').length){
            var id = $(this).parents('.item').data('id');
            $(this).parents('.item').addClass('active');
        }else{
            var id = $(".item.active").data('id');
        }
        var decision = $(this).data('decision');
        $(this).parent().siblings('.ajax-btn-judge').prop('disabled', true);
        var button = $(this)
        $.post("{% url 'ajaxExtractor' %}",
                {
                    method: "re_judge",
                    id: id,
                    decision: decision,
                    csrfmiddlewaretoken: $('meta[name=csrf_token]').attr('content')
                },
                function (data, status) {
                    if(data=="0"){
                        //success
                        $(".item.active").remove()
                        $('#viewModal').modal('hide')
                    }else{
                        button.parent().siblings('.ajax-btn-judge').prop('disabled', false);
                        alert("ERROR:"+data);
                        console.log("ERROR:"+data)
                    }

                });
    });

    //when modal shown
    $('#viewModal').on('show.bs.modal', function (event) {
        var url = "{% url 'loadfile' 'extract' 'FILENAME' %}";
        var button = $(event.relatedTarget);
        var item = button.parents(".item");
        item.addClass('active');
        var modal = $(this);
        modal.find('.modal-title').text(item.data('title'));
        modal.find('#showiframe').attr('src', url.replace("FILENAME", item.data('filename')));
        $.get(url.replace("FILENAME", item.data('filename')),
                function (data, status) {
                    modal.find('#sourceframe').text(data)
                });
        $.post("{% url 'rulePanel' %}",
                {
                    csrfmiddlewaretoken: $('meta[name=csrf_token]').attr('content')
                },
                function (data, status) {
                    modal.find('#select-rules').html(data)
                });

        $.post("{% url 'ajaxExtractor' %}",
                {
                    method: "preview",
                    id:item.data('id'),
                    extractor:item.data('extractor'),
                    csrfmiddlewaretoken: $('meta[name=csrf_token]').attr('content')
                },
                function (data, status) {
                    $("#preview").html(data);

                });

    });

    //when modal hide
    $('#viewModal').on('hide.bs.modal', function (event) {
        $(".item.active").removeClass('active');
    });


</script>



{% include 'partial/footer.html' %}