{% include 'partial/header.html' %}
{% load template_util %}
<div class="content-wrapper">
    <div class="row">
        <!-- Start .row -->
        <!-- Start .page-header -->
        <div class="col-lg-12 heading">
            <h1 class="page-header"><i class="ec-list"></i> Extract</h1>
        </div>
        <!-- End .page-header -->
    </div>
    <!-- End .row -->
    <div class="outlet">
        <!-- Start .outlet -->
        <!-- Page start here ( usual with .row ) -->
        <div class="row">
            <div class="col-lg-12">
                <!-- col-lg-12 start here -->
                <div class="panel panel-primary plain panelRefresh">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Extract List</h4>
                    </div>
                    <div class="panel-body">
                        {% if ext_list %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="per5">ID</th>
                                <th class="per65">Title | URL</th>
                                <th class="per15">Decision</th>
                                <th class="per15">Operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for id, item in ext_list.iteritems %}
                            <tr class="item" data-id="{{ id }}">
                                <td>{{ id }}</td>
                                <td>
                                    <p>{{ item.title }}</p>

                                    <p><a class="btn btn-primary btn-alt mr15 mb15 btn-url" data-toggle="modal"
                                          data-target="#viewModal" data-id="{{ id }}"
                                          data-filename="{{ item.filename }}"
                                          title="{{ item.url }}">{{ item.url | short_url }}</a></p>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar{{ item.decision | css_type_for_decision  }} animated-bar"
                                             role="progressbar" aria-valuenow="100"
                                             style="width:100%;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" data-id="{{ id }}"
                                                data-decision="{{ 'N' | decision_value  }}"
                                                class="btn btn-dark ajax-btn-judge">N
                                        </button>
                                        <button type="button" data-id="{{ id }}"
                                                data-decision="{{ 'S' | decision_value  }}"
                                                class="btn btn-pink ajax-btn-judge">S
                                        </button>
                                        <button type="button" data-id="{{ id }}"
                                                data-decision="{{ 'M' | decision_value  }}"
                                                class="btn btn-yellow ajax-btn-judge">M
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No item need to judge manually</p>
                        {% endif %}
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-12 end here -->
        </div>
        <!-- End .row -->

        <!-- Modal -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg model-xxl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myLargeModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-6">
                            <iframe id="showiframe" class="col-xs-12" height="800px"></iframe>
                        </div>
                        <div id="control" class="col-md-6">

                            <div id="select-rules">
                                <h3>Select Rules</h3>
                                <div id="rule-table-wrapper">
                                    <div class="tabs">
                                        <ul id="myTab" class="nav nav-tabs tabdrop">
                                            <li class="active">
                                                <a href="#ruletab-1" data-toggle="tab" aria-expanded="true">Title</a>
                                            </li>
                                            <li class="">
                                                <a href="#ruletab-2" data-toggle="tab">Speaker</a>
                                            </li>
                                            <li class="">
                                                <a href="#ruletab-3" data-toggle="tab">Location</a>
                                            </li>
                                            <li class="">
                                                <a href="#ruletab-4" data-toggle="tab">Start Time</a>
                                            </li>
                                            <li class="">
                                                <a href="#ruletab-5" data-toggle="tab">End Time</a>
                                            </li>
                                            <li class="">
                                                <a href="#ruletab-6" data-toggle="tab">Abstract</a>
                                            </li>
                                        </ul>

                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade active in" id="ruletab-1">
                                                <div class="panel-group accordion" id="accordion1">
                                                    <div class="panel panel-default" id="spr_3">
                                                        <div class="panel-heading">
                                                            <h5 class="panel-title">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true"><i class="en-ticket s16"></i>Select Exist Rule</a>
                                                            </h5>
                                                        </div>
                                                        <div id="collapseOne1" class="panel-collapse collapse in" aria-expanded="true">
                                                            <div class="list-group">
                                                                <a href="#" class="list-group-item active">
                                                                    <h4 class="list-group-item-heading">Rule #1</h4>
                                                                    <p class="list-group-item-text">
                                                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                                    </p>
                                                                </a>
                                                                <a href="#" class="list-group-item">
                                                                    <h4 class="list-group-item-heading">Rule #2</h4>
                                                                    <p class="list-group-item-text">
                                                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                                    </p>
                                                                </a>
                                                                <a href="#" class="list-group-item">
                                                                    <h4 class="list-group-item-heading">Rule #3</h4>
                                                                    <p class="list-group-item-text">
                                                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                                    </p>
                                                                </a>
                                                                <a href="#" class="list-group-item active">
                                                                    <h4 class="list-group-item-heading">Rule #1</h4>
                                                                    <p class="list-group-item-text">
                                                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                                    </p>
                                                                </a>
                                                                <a href="#" class="list-group-item">
                                                                    <h4 class="list-group-item-heading">Rule #2</h4>
                                                                    <p class="list-group-item-text">
                                                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                                    </p>
                                                                </a>
                                                                <a href="#" class="list-group-item">
                                                                    <h4 class="list-group-item-heading">Rule #3</h4>
                                                                    <p class="list-group-item-text">
                                                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                                    </p>
                                                                </a>
                                                                <a href="#" class="list-group-item active">
                                                                    <h4 class="list-group-item-heading">Rule #1</h4>
                                                                    <p class="list-group-item-text">
                                                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                                    </p>
                                                                </a>
                                                                <a href="#" class="list-group-item">
                                                                    <h4 class="list-group-item-heading">Rule #2</h4>
                                                                    <p class="list-group-item-text">
                                                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                                    </p>
                                                                </a>
                                                                <a href="#" class="list-group-item">
                                                                    <h4 class="list-group-item-heading">Rule #3</h4>
                                                                    <p class="list-group-item-text">
                                                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default" id="spr_4">
                                                        <div class="panel-heading">
                                                            <h5 class="panel-title">
                                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1"><i class="en-plus2 s16"></i>Create New Rule</a>
                                                            </h5>
                                                        </div>
                                                        <div id="collapseTwo1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <div class="form">
                                                                    <form action="" class="form-horizontal group-border">

                                                                        <div class="form-group">
                                                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Selection</label>
                                                                            <div class="col-lg-10 col-md-10">
                                                                                <select class="form-control select2">
                                                                                    <option value="AK">Html</option>
                                                                                    <option value="HI">Body</option>
                                                                                    <option value="HI">Title</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Method</label>
                                                                            <div class="col-lg-10 col-md-10">
                                                                                <select class="form-control select2">
                                                                                    <option value="AK">XPATH</option>
                                                                                    <option value="HI">Reg</option>
                                                                                    <option value="HI">Title</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Input1</label>
                                                                            <div class="col-lg-10 col-md-10">
                                                                                <input class="form-control" type="text">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Input2</label>
                                                                            <div class="col-lg-10 col-md-10">
                                                                                <input class="form-control"  type="text">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">Post Action</label>
                                                                            <div class="col-lg-10 col-md-10">
                                                                                <label class="checkbox-inline">
                                                                                    <input type="checkbox" value="option1">unchecked
                                                                                </label>
                                                                                <label class="checkbox-inline">
                                                                                    <input type="checkbox" value="option2" checked="checked">checked
                                                                                </label>
                                                                                <label class="checkbox-inline">
                                                                                    <input type="checkbox" value="option1">unchecked
                                                                                </label>
                                                                                <label class="checkbox-inline">
                                                                                    <input type="checkbox" value="option2" checked="checked">checked
                                                                                </label>
                                                                                <label class="checkbox-inline">
                                                                                    <input type="checkbox" value="option1">unchecked
                                                                                </label>
                                                                                <label class="checkbox-inline">
                                                                                    <input type="checkbox" value="option2" checked="checked">checked
                                                                                </label>
                                                                                <label class="checkbox-inline">
                                                                                    <input type="checkbox" value="option1">unchecked
                                                                                </label>
                                                                                <label class="checkbox-inline">
                                                                                    <input type="checkbox" value="option2" checked="checked">checked
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">Description</label>
                                                                            <div class="col-lg-10 col-md-10">
                                                                                <textarea class="form-control" rows="3"></textarea>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label"></label>
                                                                            <div class="col-lg-10 col-md-10">
                                                                                <span class="help-block mt10">
                                                                                    <span id="output-message" class="badge p10 ml15">test result</span>
                                                                                    <a href="#" id="show-password" class="btn btn-info">Test</a>
                                                                                    <a href="#" id="generate-password" class="btn btn-success">Add</a>
                                                                                </span>

                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="two">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item active">
                                                        <h4 class="list-group-item-heading">Rule #1</h4>
                                                        <p class="list-group-item-text">
                                                            Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                        </p>
                                                    </a>
                                                    <a href="#" class="list-group-item">
                                                        <h4 class="list-group-item-heading">Rule #2</h4>
                                                        <p class="list-group-item-text">
                                                            Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                        </p>
                                                    </a>
                                                    <a href="#" class="list-group-item">
                                                        <h4 class="list-group-item-heading">Rule #3</h4>
                                                        <p class="list-group-item-text">
                                                            Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="preview">
                                <h3>Preview</h3>
                                <dl class="dl-horizontal">
                                    <dt>Title</dt>
                                        <dd>A description list is perfect for defining terms.</dd>
                                    <dt>Speaker</dt>
                                        <dd>T Dong</dd>
                                    <dt>Location</dt>
                                        <dd>Etiam porta</dd>
                                    <dt>Start Time</dt>
                                        <dd>2015-04-03 14:30:00</dd>
                                    <dt>End Time</dt>
                                        <dd>2015-04-03 14:30:00</dd>
                                    <dt>Abstract</dt>
                                        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <span>
                                Re-Judge
                            </span>
                            <button id="model-btn-N" data-id="" data-decision="{{ 'N' | decision_value  }}" type="button"
                                    class="btn btn-dark ajax-btn-judge">No
                            </button>
                            <button id="model-btn-S" data-id="" data-decision="{{ 'S' | decision_value  }}" type="button"
                                    class="btn btn-pink ajax-btn-judge">Single
                            </button>
                            <button id="model-btn-M" data-id="" data-decision="{{ 'M' | decision_value  }}" type="button"
                                    class="btn btn-yellow ajax-btn-judge">Multiple
                            </button>
                        </div>

                        <button id="btn-extract" data-id="" data-decision="" type="button"
                                class="btn btn-green ajax-btn-judge">Extract
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- Page End here -->
    </div>
    <!-- End .outlet -->
</div>
<script>
    $(".ajax-btn-judge").click(function () {
        var id = $(this).data('id');
        var decision = $(this).data('decision');

        $('[data-id="'+id+'"]').prop('disabled', true);

        $.post("{% url 'ajax' %}",
                {
                    type: "judge_finish",
                    id: id,
                    decision: decision,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                function (data, status) {
                    if(data['status']=='success'){
                        //success
                        $('.item[data-id="'+id+'"]').remove()
                        $('#viewModal').modal('hide')
                    }else{
                        $('[data-id="'+id+'"]').prop('disabled', false);
                        alert(data);
                        console.log(data)
                    }

                });
    });

    $('#viewModal').on('show.bs.modal', function (event) {
        var url = "{% url 'loadfile' 'extract' 'FILENAME' %}";
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var filename = button.data('filename');
        var title = button.data('title');
        var modal = $(this);
        modal.find('.modal-title').text(title);
        modal.find("#model-btn-N").data('id', id);
        modal.find("#model-btn-S").data('id', id);
        modal.find("#model-btn-M").data('id', id);
        modal.find('#showiframe').attr('src', url.replace("FILENAME", filename));
    });
</script>
{% include 'partial/footer.html' %}