{% load template_util %}
<h3>Select Rules</h3>
<div id="rule-table-wrapper">
    <div class="tabs">
        <ul id="ruletab" class="nav nav-tabs tabdrop">
            {% for id, attr in rule_maps.iteritems %}
            <li class="">
                <a href="#ruletab-{{id}}" data-toggle="tab" aria-expanded="true">{{attr.name}}</a>
            </li>
            {% endfor %}
        </ul>

        <div id="ruletabContent" class="tab-content">
            {% for id, attr in rule_maps.iteritems %}
            <div class="tab-pane fade{% if id == 1 %} active in{% endif %}" id="ruletab-{{id}}">
                <div class="panel-group accordion" id="accordion-{{id}}">
                    <div class="panel panel-default" id="accordion-{{id}}-exist">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{id}}-exist" href="#collapse-{{id}}-exist" aria-expanded="true">
                                    <i class="en-ticket s16"></i>Select Exist Rule</a>
                            </h5>
                        </div>
                        <div id="collapse-{{id}}-exist" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="list-group">
                                {% for rule_id, rule in attr.rules.iteritems %}
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">Rule #{{rule_id}} {{rule.description}}</h4>
                                    <p class="list-group-item-text">
                                        {{rule.policy}} on {{rule.select}}
                                        <br>
                                        {% if rule.policy == "xpath" %}
                                            {{rule.xpath}}
                                        {% elif rule.policy == "string" %}
                                            {{rule.after}} <b>*</b> {{rule.before}}
                                        {% endif %}
                                    </p>
                                </a>
                                {% empty %}
                                <p>no existing rule</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="accordion-{{id}}-new">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-{{id}}" href="#collapse-{{id}}-new"><i class="en-plus2 s16"></i>Create New Rule</a>
                            </h5>
                        </div>
                        <div id="collapse-{{id}}-new" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                <div class="form">
                                    <form action="" class="form-horizontal group-border">

                                        <div class="form-group">
                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Selection</label>
                                            <div class="col-lg-10 col-md-10">
                                                <select class="form-control select2">
                                                    <option value="AK">Html</option>
                                                    <option value="HI">Body</option>
                                                    <option value="HI">Title</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Method</label>
                                            <div class="col-lg-10 col-md-10">
                                                <select class="form-control select2">
                                                    <option value="AK">XPATH</option>
                                                    <option value="HI">Reg</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Input1</label>
                                            <div class="col-lg-10 col-md-10">
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Input2</label>
                                            <div class="col-lg-10 col-md-10">
                                                <input class="form-control"  type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">Post Action</label>
                                            <div class="col-lg-10 col-md-10">
                                                {% for act_id, act in action.iteritems %}
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" value="{{act_id}}">{{ act.name }}
                                                </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">Description</label>
                                            <div class="col-lg-10 col-md-10">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label"></label>
                                            <div class="col-lg-10 col-md-10">
                                                <span class="help-block mt10">
                                                    <span id="output-message" class="badge p10 ml15">test result</span>
                                                    <a href="#" id="show-password" class="btn btn-info">Test</a>
                                                    <a href="#" id="generate-password" class="btn btn-success">Add</a>
                                                </span>

                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
