{% include 'partial/header.html' %}
{% load template_util %}
<div class="content-wrapper">
    <div class="row">
        <!-- Start .row -->
        <!-- Start .page-header -->
        <div class="col-lg-12 heading">
            <h1 class="page-header"><i class="ec-list"></i> Extract</h1>
        </div>
        <!-- End .page-header -->
    </div>
    <!-- End .row -->
    <div class="outlet">
        <!-- Start .outlet -->
        <!-- Page start here ( usual with .row ) -->
        <div class="row">
            <div class="col-lg-12">
                <!-- col-lg-12 start here -->
                <div class="panel panel-primary plain panelRefresh">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Extract List</h4>
                    </div>
                    <div class="panel-body">
                        {% if ext_list %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="per5">ID</th>
                                <th class="per65">Title | URL</th>
                                <th class="per15">Decision</th>
                                <th class="per15">Operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for id, item in ext_list.iteritems %}
                            <tr class="item" data-id="{{ id }}">
                                <td>{{ id }}</td>
                                <td>
                                    <p>{{ item.title }}</p>

                                    <p><a class="btn btn-primary btn-alt mr15 mb15 btn-url" data-toggle="modal"
                                          data-target="#viewModal" data-id="{{ id }}"
                                          data-filename="{{ item.filename }}"
                                          title="{{ item.url }}">{{ item.url | short_url }}</a></p>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar{{ item.decision | css_type_for_decision  }} animated-bar"
                                             role="progressbar" aria-valuenow="100"
                                             style="width:100%;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" data-id="{{ id }}"
                                                data-decision="{{ 'N' | decision_value  }}"
                                                class="btn btn-dark ajax-btn-judge">N
                                        </button>
                                        <button type="button" data-id="{{ id }}"
                                                data-decision="{{ 'S' | decision_value  }}"
                                                class="btn btn-pink ajax-btn-judge">S
                                        </button>
                                        <button type="button" data-id="{{ id }}"
                                                data-decision="{{ 'M' | decision_value  }}"
                                                class="btn btn-yellow ajax-btn-judge">M
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No item need to judge manually</p>
                        {% endif %}
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-12 end here -->
        </div>
        <!-- End .row -->

        <!-- Modal -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myLargeModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="showiframe" class="col-xs-12" height="800px"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button id="model-btn-N" data-id="" data-decision="{{ 'N' | decision_value  }}" type="button"
                                class="btn btn-dark ajax-btn-judge">No
                        </button>
                        <button id="model-btn-S" data-id="" data-decision="{{ 'S' | decision_value  }}" type="button"
                                class="btn btn-pink ajax-btn-judge">Single
                        </button>
                        <button id="model-btn-M" data-id="" data-decision="{{ 'M' | decision_value  }}" type="button"
                                class="btn btn-yellow ajax-btn-judge">Multiple
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- Page End here -->
    </div>
    <!-- End .outlet -->
</div>
<script>
    $(".ajax-btn-judge").click(function () {
        var id = $(this).data('id');
        var decision = $(this).data('decision');

        $('[data-id="'+id+'"]').prop('disabled', true);

        $.post("{% url 'ajax' %}",
                {
                    type: "judge_finish",
                    id: id,
                    decision: decision,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                function (data, status) {
                    if(data['status']=='success'){
                        //success
                        $('.item[data-id="'+id+'"]').remove()
                        $('#viewModal').modal('hide')
                    }else{
                        $('[data-id="'+id+'"]').prop('disabled', false);
                        alert(data);
                        console.log(data)
                    }

                });
    });

    $('#viewModal').on('show.bs.modal', function (event) {
        var url = "{% url 'loadfile' 'extract' 'FILENAME' %}";
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var filename = button.data('filename');
        var title = button.data('title');
        var modal = $(this);
        modal.find('.modal-title').text(title);
        modal.find("#model-btn-N").data('id', id);
        modal.find("#model-btn-S").data('id', id);
        modal.find("#model-btn-M").data('id', id);
        modal.find('#showiframe').attr('src', url.replace("FILENAME", filename));
    });
</script>
{% include 'partial/footer.html' %}