{% load template_util %}
<h3>Select Rules</h3>
<div id="rule-table-wrapper">
    <div class="tabs">
        <ul id="ruletab" class="nav nav-tabs tabdrop">
            {% for id, attr in rule_maps.iteritems %}
            <li class="">
                <a href="#ruletab-{{id}}" data-toggle="tab" aria-expanded="true">{{attr.name}}</a>
            </li>
            {% endfor %}
        </ul>

        <div id="ruletabContent" class="tab-content">
            {% for id, attr in rule_maps.iteritems %}
            <div class="tab-pane fade{% if id == 1 %} active in{% endif %}" id="ruletab-{{id}}">
                <div class="panel-group accordion" id="accordion-{{id}}">
                    <div class="panel panel-default" id="accordion-{{id}}-exist">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{id}}-exist" href="#collapse-{{id}}-exist" aria-expanded="true">
                                    <i class="en-ticket s16"></i>Select Exist Rule</a>
                            </h5>
                        </div>
                        <div id="collapse-{{id}}-exist" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="list-group">
                                {% for rule_id, rule in attr.rules.iteritems %}
                                <a href="#" class="list-group-item rule" data-att-id="{{id}}" data-rule-id="{{rule_id}}">
                                    <h4 class="list-group-item-heading">Rule #{{rule_id}}: {{rule.description}}</h4>
                                    <p class="list-group-item-text">
                                        [{{rule.on}}]
                                        {% if rule.on == "content" %}
                                            {{rule.scope.sel}} => {{rule.scope.target}}
                                        {% endif %}
                                        <br>
                                        {% if rule.match %}
                                            Match on {{rule.match}} |
                                        {% endif %}
                                        {% if rule.substring %}
                                            {{rule.substring.after}}#TARGET#{{rule.substring.before}} |
                                        {% endif %}
                                        actions: [
                                        {% for act in rule.actions %}
                                            {{act}},
                                        {% endfor %}
                                        ]
                                    </p>
                                </a>
                                {% empty %}
                                <p>no existing rule</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="accordion-{{id}}-new">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-{{id}}" href="#collapse-{{id}}-new"><i class="en-plus2 s16"></i>Create New Rule</a>
                            </h5>
                        </div>
                        <div id="collapse-{{id}}-new" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                <div class="form">
                                    <form id="add-form-{{id}}" action="" class="form-horizontal group-border">
                                        <div class="form-group">
                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">On</label>
                                            <div class="col-lg-10 col-md-10">
                                                <select name="on" class="form-control select2">
                                                    <option value="content">content</option>
                                                    <option value="url">url</option>
                                                    <option value="title">title</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Scope</label>
                                            <div name="scope" class="col-lg-10 col-md-10">
                                                <input name="scope[sel]" class="form-control" type="text" placeholder="css selector">
                                                <select name="scope[target]" class="form-control select2">
                                                    <option value="html">html</option>
                                                    <option value="text">text</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Match</label>
                                            <div class="col-lg-10 col-md-10">
                                                <input name="match" class="form-control" type="text" placeholder="regx">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">After</label>
                                            <div class="col-lg-10 col-md-10">
                                                <input name="substring[after]" class="form-control" type="text" placeholder="regx">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-lg-2 col-md-2 col-sm-12 control-label">Before</label>
                                            <div class="col-lg-10 col-md-10">
                                                <input name="substring[before]" class="form-control"  type="text" placeholder="regx">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">Post Action</label>
                                            <div class="col-lg-10 col-md-10">
                                                {% for act_id, act in action.iteritems %}
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="actions" value="{{act_id}}">{{ act.name }}
                                                </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">Description</label>
                                            <div class="col-lg-10 col-md-10">
                                                <textarea name="description" class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label"></label>
                                            <div class="col-lg-10 col-md-10">
                                                <span class="help-block mt10">
                                                    <a href="#" data-att-id="{{id}}" class="test btn btn-warning">Test</a>
                                                    <a href="#" data-att-id="{{id}}" class="add btn btn-success">Add</a>
                                                </span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">Test Result</label>
                                            <div class="col-lg-10 col-md-10">
                                                <textarea class="test-output form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<script>

    console.log("start");
    $(".test.btn").click(function () {
        var attrid = $(this).data('att-id');
        var itemid = $("#viewModal").data('id')
        form_data = getFormJson("#add-form-"+attrid);
        $.post("{% url 'ajax' %}",
                {
                    type: "extract_rule_test",
                    id:itemid,
                    attrid:attrid,
                    rule: form_data,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                function (data, status) {
                    $("#add-form-"+attrid+" .test-output").val(data)
                });
    });

    $(".add.btn").click(function () {
        var attrid = $(this).data('att-id');
        form_data = getFormJson("#add-form-"+attrid);
        $.post("{% url 'ajax' %}",
                {
                    type: "extract_rule_add",
                    attrid:attrid,
                    rule: form_data,
                    selected:getruleidset(),
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                function (data, status) {
                    $("#select-rules").html(data)
                });
    });


    function getFormJson(form) {
        var o = {};
        var a = $(form).serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }



    function getruleidset(){
        var result = new Array();
        for (i = 0; i < {{ rule_maps|length }}; i++) {
        result[i]=0;
    }
    $(".rule.active").each(function(){
        var a = $(this).data("att-id");
        var r = $(this).data("rule-id");
        result[a-1]=r;
    });
    console.log(result);
    return result;
    }

    console.log("start2")
    $(".rule").click(function () {
        $(this).parent().find(".rule").removeClass('active');
        $(this).addClass('active');
        var itemid = $("#viewModal").data('id')
        $.post("{% url 'ajax' %}",
                {
                    type: "extract_preview",
                    id:itemid,
                    selected:getruleidset(),
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                function (data, status) {
                    $("#preview").html(data)
                });
    });

</script>

<script>
    {% for att,rule in selected.iteritems %}
        $("#collapse-{{att}}-exist .rule[data-rule-id={{rule}}]").addClass('active')
    {% endfor %}
</script>