{% include 'partial/header.html' %}
<div class="content-wrapper">
    <div class="row">
        <!-- Start .row -->
        <!-- Start .page-header -->
        <div class="col-lg-12 heading">
            <h1 class="page-header"><i class="ec-earth"></i> Overview</h1>
        </div>
        <!-- End .page-header -->
    </div>
    <!-- End .row -->
    <div class="outlet">
        <!-- Start .outlet -->
        <!-- Page start here ( usual with .row ) -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Ontology-based Visual Analytics For Text Analysis</h1>
                </div>
                <div class="well well-lg">
                    <p>This is a MSc Project of Tianwei Dong</p>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Topic</h2>
                    </div>
                    <div class="panel-body">
                        <p class="lead">With the increasing of data on the web, it is challenging to capture and present
                            data meaningfully. In this project, we will study the use of ontology to assist in data
                            capture and visualisation. In particularly, we will use visualisation to facilitate an
                            active learning process in developing and evolving an ontology.<br>We will use seminar
                            announcements as a case study. Most seminar announcements are communicated through the web,
                            but they are often structured very differently and exhibit a variety of forms. At Oxford,
                            there are numerous seminars each weak. We will </p>
                        <ul>
                            <li>Develop a web crawler for collecting such textual data.</li>
                            <li>Develop an ontology for representing concepts in seminar announcements and their
                                relationships.
                            </li>
                            <li>Develop an ontology-based algorithm for extracting seminar information from captured web
                                text.
                            </li>
                            <li>Use visualisation to monitor the extraction process, and to diagnose errors or
                                incompleteness in the ontology that may have lead to the extraction errors.
                            </li>
                            <li>Use interaction to facilitate active learning of the ontology.</li>
                            <li>Create a visualisation for showing the collected seminar information from different
                                sources.
                            </li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .row -->
        <!-- Page End here -->
    </div>
    <!-- End .outlet -->
</div>

{% include 'partial/footer.html' %}