{% include 'partial/header.html' %}
{% load template_util %}
<div class="content-wrapper">
    <div class="row">
        <!-- Start .row -->
        <!-- Start .page-header -->
        <div class="col-lg-12 heading">
            <h1 class="page-header"><i class="ec-pencil"></i> Judge</h1>
        </div>
        <!-- End .page-header -->
    </div>
    <!-- End .row -->
    <div class="outlet">
        <!-- Start .outlet -->
        <!-- Page start here ( usual with .row ) -->
        <div class="row">
            <div class="col-lg-12">
                <!-- col-lg-12 start here -->
                <div class="panel panel-primary plain panelRefresh">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Judge List</h4>
                    </div>
                    <div class="panel-body">
                        {% if judge_list %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="per5">ID</th>
                                <th class="per65">Title | URL</th>
                                <th class="per15">Confidence</th>
                                <th class="per15">Operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for id, item in judge_list.iteritems %}
                            <tr class="item"
                                data-id="{{ id }}"
                                data-filename="{{ item.filename }}"
                                data-title="{{ item.title }}"
                                data-url="{{ item.url }}"
                                data-decision="{{ item.decision}}">
                                <td>{{ id }}</td>
                                <td>
                                    <p>{{ item.title }}</p>

                                    <p><a class="btn btn-primary btn-alt mr15 mb15 btn-url"
                                          data-toggle="modal"
                                          data-target="#viewModal"
                                          title="{{ item.url }}">{{ item.url | short_url }}</a></p>
                                </td>
                                <td>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar{{ item.decision | css_type_for_decision  }} animated-bar"
                                             role="progressbar" aria-valuenow="{{ item.confidence }}"
                                             style="width:{{ item.confidence }}%;">
                                            {{ item.confidence }}%
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button"
                                                data-decision="{{ 'N' | decision_value  }}"
                                                class="btn btn-dark ajax-btn-judge">N
                                        </button>
                                        <button type="button"
                                                data-decision="{{ 'S' | decision_value  }}"
                                                class="btn btn-pink ajax-btn-judge">S
                                        </button>
                                        <button type="button"
                                                data-decision="{{ 'M' | decision_value  }}"
                                                class="btn btn-yellow ajax-btn-judge">M
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No item need to judge manually</p>
                        {% endif %}
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-12 end here -->
        </div>
        <!-- End .row -->

        <!-- Modal -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myLargeModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="showiframe" class="col-xs-12" height="800px"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button id="model-btn-N" data-decision="{{ 'N' | decision_value  }}" type="button"
                                class="btn btn-dark ajax-btn-judge">No
                        </button>
                        <button id="model-btn-S" data-decision="{{ 'S' | decision_value  }}" type="button"
                                class="btn btn-pink ajax-btn-judge">Single
                        </button>
                        <button id="model-btn-M" data-decision="{{ 'M' | decision_value  }}" type="button"
                                class="btn btn-yellow ajax-btn-judge">Multiple
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- Page End here -->
    </div>
    <!-- End .outlet -->
</div>
<script>
    $(".ajax-btn-judge").click(function () {
        if($(this).parents('.item').length){
            var id = $(this).parents('.item').data('id');
            $(this).parents('.item').addClass('active');
        }else{
            var id = $(".item.active").data('id');
        }
        var decision = $(this).data('decision');
        $(this).parent().siblings('.ajax-btn-judge').prop('disabled', true);

        $.post("{% url 'ajaxJudge' %}",
                {
                    method: "judge",
                    id: id,
                    decision: decision,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                function (data, status) {
                    if(data=="0"){
                        //success
                        $(".item.active").remove()
                        $('#viewModal').modal('hide')
                    }else{
                        $(this).parent().siblings('.ajax-btn-judge').prop('disabled', false);
                        alert("ERROR:"+data);
                        console.log("ERROR:"+data)
                    }

                });
    });

    //when modal shown
    $('#viewModal').on('show.bs.modal', function (event) {
        var url = "{% url 'loadfile' 'judge' 'FILENAME' %}";
        var button = $(event.relatedTarget);
        var item = button.parents(".item");
        item.addClass('active');
        var modal = $(this);
        modal.find('.modal-title').text(item.data('title'));
        modal.find('#showiframe').attr('src', url.replace("FILENAME", item.data('filename')));
    });


    //when modal hide
    $('#viewModal').on('hide.bs.modal', function (event) {
        $(".item.active").removeClass('active');
    });

</script>
{% include 'partial/footer.html' %}