{% load staticfiles %}
<div class="clearfix"></div>
</div>
<!-- End #content -->
<!-- Javascripts -->
<!-- Load pace first -->
<script src="{% static 'assets/plugins/core/pace/pace.min.js' %}"></script>
<!-- Important javascript libs(put in all pages) -->

<script>
    window.jQuery || document.write('<script src="{% static 'assets/js/libs/jquery-2.1.1.min.js' %}">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="{% static 'assets/js/libs/jquery-ui-1.10.4.min.js' %}">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{% static 'assets/js/libs/excanvas.min.js' %}"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="{% static 'assets/js/libs/respond.min.js' %}"></script>
<![endif]-->
<!-- build:js assets/js/pages/dashboard.js -->
<!-- Bootstrap plugins -->
<script src="{% static 'assets/js/bootstrap/bootstrap.js' %}"></script>
<!-- Core plugins ( not remove ever) -->
<script src="{% static 'assets/js/libs/modernizr.custom.js' %}"></script>
<!-- Handle responsive view functions -->
<script src="{% static 'assets/js/jRespond.min.js' %}"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="{% static 'assets/plugins/core/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js' %}"></script>
<!-- Remove click delay in touch -->
<script src="{% static 'assets/plugins/core/fastclick/fastclick.js' %}"></script>
<!-- Increase jquery animation speed -->
<script src="{% static 'assets/plugins/core/velocity/jquery.velocity.min.js' %}"></script>
<!-- Resize text area in most pages -->
<script src="{% static 'assets/plugins/forms/autosize/jquery.autosize.js' %}"></script>
<!-- Proivde quick search for many widgets -->
<script src="{% static 'assets/plugins/core/quicksearch/jquery.quicksearch.js' %}"></script>
<!-- Bootbox confirm dialog for reset postion on panels -->
<script src="{% static 'assets/plugins/ui/bootbox/bootbox.js' %}"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="{% static 'assets/plugins/charts/flot/jquery.flot.js' %}"></script>
<script src="{% static 'assets/plugins/charts/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'assets/plugins/charts/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'assets/plugins/charts/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'assets/plugins/charts/flot/jquery.flot.growraf.js' %}"></script>
<script src="{% static 'assets/plugins/charts/flot/jquery.flot.categories.js' %}"></script>
<script src="{% static 'assets/plugins/charts/flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'assets/plugins/charts/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'assets/plugins/charts/flot/date.js' %}"></script>
<script src="{% static 'assets/plugins/charts/sparklines/jquery.sparkline.js' %}"></script>
<script src="{% static 'assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js' %}"></script>
<script src="{% static 'assets/plugins/forms/icheck/jquery.icheck.js' %}"></script>
<script src="{% static 'assets/plugins/forms/tags/jquery.tagsinput.min.js' %}"></script>
<script src="{% static 'assets/plugins/forms/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'assets/plugins/misc/highlight/highlight.pack.js' %}"></script>
<script src="{% static 'assets/plugins/misc/countTo/jquery.countTo.js' %}"></script>
<script src="{% static 'assets/plugins/ui/weather/skyicons.js' %}"></script>
<script src="{% static 'assets/plugins/ui/notify/jquery.gritter.js' %}"></script>
<script src="{% static 'assets/plugins/ui/calendar/fullcalendar.js' %}"></script>
<script src="{% static 'assets/js/jquery.sprFlat.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
<!-- endbuild -->
</body>
</html>