<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %}
            {{ page.title }} |
        {% endif %}SAEWeb</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="SuggeElson" />
    <meta name="description" content="sprFlat admin template - new premium responsive admin template. This template is designed to help you build the site administration without losing valuable time.Template contains all the important functions which must have one backend system.Build on great twitter boostrap framework"
            />
    <meta name="keywords" content="admin, admin template, admin theme, responsive, responsive admin, responsive admin template, responsive theme, themeforest, 960 grid system, grid, grid theme, liquid, jquery, administration, administration template, administration theme, mobile, touch , responsive layout, boostrap, twitter boostrap"
            />
    <meta name="application-name" content="sprFlat admin template" />
    <!-- Import google fonts - Heading first/ text second -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700' />
    <!--[if lt IE 9]>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- Css files -->
    <!-- build:css assets/css/main.min.css -->
    <!-- Icons -->
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" />
    <!-- jQueryUI -->
    <link href="{% static 'assets/css/sprflat-theme/jquery.ui.all.css' %}" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
    <!-- endbuild -->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/img/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/img/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/img/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/img/ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="icon" href="{% static 'assets/img/ico/favicon.ico' %}" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
<!-- Start #header -->
<div id="header">
    <div class="container-fluid">
        <div class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <i class="br-bookmark text-logo-element animated bounceIn"></i><span class="text-logo">SAE</span><span class="text-slogan">Web</span>
                </a>
            </div>

            <nav class="top-nav" role="navigation">

                <ul class="nav navbar-nav pull-left">
                    <li id="toggle-sidebar-li">
                        <a href="#" id="toggle-sidebar"><i class="en-arrow-left2" style="-webkit-transform: rotate(0deg);"></i>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#" id="toggle-header-area">
                            Tianwei Dong
                            <img class="user-avatar" src="{% static 'assets/img/oxford.png' %}" alt="Universiy of Oxford">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Start .header-inner -->
</div>
<!-- End #header -->
<!-- Start #sidebar -->
<div id="sidebar">
    <!-- Start .sidebar-inner -->
    <div class="sidebar-inner">
        <!-- Start .sidebar-panel -->
        <div class="sidebar-panel panel-nav-header dark-bg">
            <h4 class="sidebar-panel-title">Navigation</h4>
        </div>
        <!-- End .sidebar-panel -->
        <!-- Start #sideNav -->
        <ul id="sideNav" class="nav nav-pills nav-stacked">
            <li><a href="{% url 'index' %}">Overview<i class="ec-earth"></i></a>
            </li>
            <li><a href="{% url 'judge' %}">Judge<i class="ec-pencil"></i></a>
            </li>
            <li>
                <a href="{% url 'extract' %}">Extract<i class="ec-list"></i></a>

            </li>
            <li><a href="{% url 'result' %}">Result<i class="ec-archive"></i></a>

            </li>

        </ul>
        <!-- End #sideNav -->
        <!-- Start .sidebar-panel -->
        <div class="sidebar-panel mt0">
            <h4 class="sidebar-panel-title dark-bg"><i class="im-fire"></i> Statistic</h4>
            <div class="sidebar-panel-content">

                <div class="tile red">
                    <!-- tile start here -->
                    <div class="tile-icon">
                        <i class="ec-help s32"></i>
                    </div>
                    <div class="tile-content">
                        <div class="number">13</div>
                        <h3>to judge</h3>
                    </div>
                </div>

                <div class="tile blue">
                    <!-- tile start here -->
                    <div class="tile-icon">
                        <i class="ec-archive s32"></i>
                    </div>
                    <div class="tile-content">
                        <div class="number">13</div>
                        <h3>to extract</h3>
                    </div>
                </div>

                <div class="tile green">
                    <!-- tile start here -->
                    <div class="tile-icon">
                        <i class="ec-archive s32"></i>
                    </div>
                    <div class="tile-content">
                        <div class="number">13</div>
                        <h3>Finished</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .sidebar-panel -->
    </div>
    <!-- End .sidebar-inner -->
</div>
<!-- End #sidebar -->
<!-- Start #content -->
<div id="content">